@import 'https://fonts.googleapis.com/css?family=Playball';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Playball', sans-serif;
}

.row {
  width: 100%;
}

span {
  color: #ee2e24;
}


/* Start styles for header */

.header {
  border-top: .3rem solid #ee2e24;
}

.header .social-media {
  text-align: center;
}

.header .social-media i {
  height: 20vh;
  line-height: 20vh;
  color: #d0cbcb;
  font-size: 1.5rem;
  margin-right: 10px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.header .social-media i:hover {
  color: #949393;
}

.header .logo img {
  width: 70%;
}

/* End styles for header */


/* Start styles for cover image section */

.cover-img {
  position: relative;
}

.cover-img img {
  width: 100%;
}

.cover-img .description {
  position: absolute;
  padding: 8% 2% 0 2%;
  top: 4%;
  left: 55%;;
  width: 40%;
  height: 92%;
  background-color: rgba(248, 244, 244, 0.75);
  border-radius: 50%;
  z-index: 2;
  text-align: center;
}

.cover-img .description h1 {
  font-weight: bold;
  color: #ee2e24;
}

.cover-img .description .divider {
  width: 37%;
}

.cover-img .description p {
  font-size: 1.4rem;
  padding-top: 2%;
}
/* End styles for cover image section */


/* Start styles for cookers section */

.cookers {
  background-color: #f1f1f1;
  padding: 3% 0 1% 3%;
}

.cookers h2 {
  margin: 2% 0 0 0;
}

.cookers h2 span {
  color: #ee2e24;
}

.cookers .divider {
  width: 12%;
  margin: 0 auto 0 auto;
  display: block;
}

.cookers .row {
  margin-top: 2%;
}

.cookers figure {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.cookers img {
  width: 85%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  -moz-transform: scale3d(1.2, 1.2, 1);
  -o-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}

figure:hover figcaption {
  background-color: #fff;
  width: 100%;
  top: 71%;
  left: 0;
  border-radius: 0;
}

.cookers figcaption {
  position: absolute;
  background-color: rgba(248, 244, 244, 0.9);
  width: 90%;
  top: 63%;
  left: 5%;
  border-radius: 10px;
  padding: 5% 0 0 5%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cookers figcaption h6 {
  color: #ADACAC;
}

.cookers figcaption p i {
  margin-right: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.cookers figcaption p i:nth-child(1) {
  color: #1da1f2;
}

.cookers figcaption p i:nth-child(2) {
  color: #23527c;
}

.cookers figcaption p i:nth-child(3) {
  color: #ee2e24;
}

.cookers figcaption p i:nth-child(4) {
  color: #1da1f2;
}

.cookers figcaption p i:nth-child(5) {
  margin-left: 50%;
  font-weight: bold;
}

.cookers figcaption p i:hover {
  color: #ee2e24;
}
/* End styles for cookers section */


/* Start styles for timeline */

.timeline {
  width: 100%;
  padding: 3% 0 3% 0;
}

.timeline h2 span {
  color: #ee2e24;
}

.timeline img {
  width: 100%;
}

.timeline .divider {
  width: 30%;
}

.timeline ul,
.timeline ul li {
  margin-top: 4%;
}

.timeline .bullet-icon {
  width: 7%;
}
/* End styles for timeline */


/* Start styles for event information */

.event-info {
  /* padding: 3% 0 3% 0; */
  background: url('../assets/pattarn.png'), #16191E;
  background-position: top, bottom;
  color: #f1f1f1;
}

.event-info .row {
  display: flex;
  justify-content: space-between;
}

.event-info span {
  color: #ee2e24;
}

.event-info .col-sm-4 {
  display: flex;
  justify-content: center;
}

.event-info .location,
.date,
.time {
  border-radius: 50%;
  border: 5px solid rgba(241, 216, 179, 0.82);
  width: 80%;
  height: 40vh;
  text-align: center;
  padding-top: 2rem;
}

/* End styles for event information */

/* Start styles for mood board */
.grid-of-hexagons {
  padding-top: 4%;
}

.grid-of-hexagons .divider {
  display: block;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 78%;
  margin: 0 auto;
  overflow: hidden;
  font-size: .9rem;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hex::after {
  content:'';
  display:block;
  padding-bottom: 86%;
  }

.hexIn {
  position: absolute;
  width:96%;
  padding-bottom: 110%;
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/****** Hex Content ******/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h4, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(238, 43, 36, 0.8);
  font-weight: 300;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out;
  color: #fff;
}

.hex h4 {
  bottom: 50%;
  padding-top:50%;
  margin-bottom: 0;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}

.hex h4::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}

/****** Hover Effect ******/
.hexLink:hover h4, .hexLink:focus h4,
.hexLink:hover p, .hexLink:focus p{
-webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
}

/****** Hexagon sizing and odd row indentation ******/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
#hexGrid{
  padding: 2% 0 5.5% 0;
}
.hex {
  width: 20%; /* ~= 100 / 5 */
}
.hex:nth-child(9n+1){ /* first hexagon of odd rows */
  margin-left:10%;  /* = width of .hex / 2  to indent odd rows */
}
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
#hexGrid{
  padding: 2% 0 4.4% 0;
}
.hex {
  width: 25%; /* = 100 / 4 */
}
.hex:nth-child(7n+1){ /* first hexagon of odd rows */
  margin-left:12.5%;  /* = width of .hex / 2  to indent odd rows */
}
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
#hexGrid{
  padding: 2% 0 7.4% 0;
}
.hex {
  width: 33.333%; /* = 100 / 3 */
}
.hex:nth-child(5n+1){ /* first hexagon of odd rows */
  margin-left: 16.665%;  /* = width of .hex / 2  to indent odd rows */
}
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
#hexGrid{
  padding: 2% 0 11.2% 0;
}
.hex {
  width: 50%; /* = 100 / 2 */
}
.hex:nth-child(3n+1){ /* first hexagon of odd rows */
  margin-left: 25%;  /* = width of .hex / 2  to indent odd rows */
}
}
/* End styles for mood board */

/* Start styles for footer */

.footer {
  color: #d0cbcb;
  background: #16191E;
  height: 4rem;
}

.footer p {
  width: 30%;
  margin: 0 auto 0 auto;
  padding-top: 1.5%;
}
/* End styles for footer */
